.left {
  max-width: 30rem;
  /* height: 35rem; */
  overflow: hidden;
  border: 8px solid rgba(255, 255, 255, 0.15);
  border-radius: 1rem 0 0 0;
}

.left > img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.container > * {
  flex: 1;
}

.card {
  margin: 1rem;
  padding: 1.25rem;
  border-radius: 0.5rem;
  background: var(--lightBlue);
  box-shadow: var(--shadow);
}

.card:hover {
  transform: scale(1.0125);
  cursor: pointer;
}
