.even-columns > h6:hover {
  cursor: pointer;
}

.socials {
  display: flex;
  gap: 1rem;
}

.socials > button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.75rem;
  color: #000;
  transition: color 0.3s ease;
}

.socials > button:hover {
  color: var(--blue);
}

.socials > button:focus {
  outline: none;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
}

/* .copyright {
  text-align: center;
}

.version {
  text-align: right;
} */
